<!-- Mobil Navbar -->
<header class='block md:hidden fixed top-0 left-0 w-full bg-white z-50 flex items-center justify-between p-4 shadow'>
  <!-- Burger-knapp -->
  <button
    id='menu-toggle'
    class='absolute top-4 left-4 w-8 h-8 flex flex-col justify-center items-center space-y-1 group z-50'
  >
    <span class='block h-0.5 w-6 bg-black transition-all duration-300'></span>
    <span class='block h-0.5 w-6 bg-black transition-all duration-300'></span>
    <span class='block h-0.5 w-6 bg-black transition-all duration-300'></span>
  </button>

  <!-- Ikoner + logo til høyre -->
  <div class='flex items-center justify-end flex-grow space-x-5 ml-20'>
    <!-- Logo -->
    <a href='/' class='flex-shrink-0'>
      <img src='{{ 'logo.svg' | asset_url }}' alt='Logo' class='h-8 w-auto'>
    </a>
    <!-- Søkeikon -->
    <a href='/search' aria-label='Søk' class='p-1'>
      <img src='{{ 'icon-search.svg' | asset_url }}' alt='Søk' class='h-6 w-6'>
    </a>
    <!-- Min side -->
    <a href='/account' aria-label='Min side' class='p-1'>
      <img src='{{ 'icon-account.svg' | asset_url }}' alt='Min side' class='h-6 w-6'>
    </a>
    <!-- Handlekurv -->
    <a href='/cart' aria-label='Handlekurv' class='p-1'>
      <img src='{{ 'cart-icon.svg' | asset_url }}' alt='Handlekurv' class='h-6 w-6'>
    </a>
  </div>
</header>

<!-- Mobilmeny (hidden by default) -->
<nav
  id='mobile-menu'
  class='fixed top-0 left-0 w-full h-full bg-white transform -translate-x-full transition-transform duration-300 z-40 p-6'
>
  <ul class='space-y-6 mt-20 text-lg'>
    {% for link in linklists['main-menu'].links %}
      <li>
        <a href='{{ link.url }}' class='block text-black hover:text-gray-600'>{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<!-- Script for åpne/lukke -->
<script>
  const toggleButton = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  toggleButton.addEventListener('click', () => {
    toggleButton.classList.toggle('open');
    mobileMenu.classList.toggle('-translate-x-full');
  });
</script>

<!-- Ekstra CSS for burger-kryss animasjon -->
<style>
  #menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #menu-toggle.open span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
</style>
