<section class='relative -mt-35 pt-50 w-full bg-[length:100%_100%] mx-auto flex flex-col items-center justify-center bg-blue-800'>
  <div class='flex flex-col bg-blue-800 w-full justify-center mx-auto px-12 md:px-32 py-24'>
    <!-- Tekst -->
    <div class='grid w-full pb-8 gap-[1rem]'>
      <u class='text-4xl pl-[0.1rem] font-base no-underline text-white text-left'>Møt familien</u>
      <h1 class='text-left font-bold w-full text-white my-6 text-5xl/12 md:text-7xl/18'>
        Utekos™ - Banebrytende utendørsbekledning
      </h1>
      <p class='text-4xl pl-[0.1rem] text-blue-600 text-left pb-8'>
        Oppdag din nye favoritt og gjør deg klar for eventyr
      </p>
    </div>
    <!-- Bildeområde -->
    <div class='bg-center md:w-[99%] mx-auto'>
      <div class='flex md:items-center mx-auto md:aspect-[21/9] rounded-[10px] overflow-hidden backdrop-blur-lg bg-[radial-gradient(200px_300px_ellipse_at_50%_34%_in_oklab,_oklch(75%_0.5_230)_0%,_4%,_oklch(26%_0.12_273)_125%_125%)]'>
        <!-- Hovedbilde -->
        <div class='relative max-sm:m-6'>
          <picture>
            <source
              media='(max-width: 767px)'
              srcset='https://res.cloudinary.com/doqxtgho6/image/upload/v1746140845/UTEKOS_6_ziayhh.webp'
            >

            {{
              section.settings.picture
              | image_url: width: 2048, height: 1363, crop: 'center'
              | image_tag: class: 'md:scale-80 md:ml-56 rounded-3xl'
            }}
          </picture>
        </div>
        <div class='absolute max-sm:-bottom-20 w-full !left-0 md:!left-40 -bottom-57 md:w-fit max-sm:left-12 max-md:w-fit z-500 bg-transparent'>
          <div class='bg-transparant relevant flex flex-col text-center rounded-xl max-sm:flex max-sm:self-end '>
            <a href='{{ section.settings.page.url }}'>
              <button
                class='cursor-pointer text-2xl font-normal tracking-normal ml-[6rem] md:ml-34 lg:ml-[6rem] lg:mb-18 bg-orange-50 text-white py-[1rem] px-[3rem] no-underline z-50 rounded-[8px]'
              >
                Se specs
              </button>
            </a>
            {{
              section.settings.sketch_picture
              | image_url: width: 1024
              | image_tag:
                class: 'lg:max-h-[400px] md:max-h-[300px] max-h-[200px] w-fit rounded-3xl'
            }}
          </div>
        </div>
      </div>
    </div>

    <!-- Produktkort -->
    <div class='grid grid-cols-1 max-sm:mt-20 max-sm:space-y-6 w-full max-sm:w-[75%] max-sm:justify-center mx-auto sm:grid-cols-3 gap-2 sm:gap-3 md:gap-4 backdrop-blur-md mt-3'>
      {% for block in section.blocks %}
        {% assign link = block.settings.lenke %}

        <a
          href='{{ link.url }}'
          class='grid w-full md:w-[97%] md:mx-auto md:px-8 py-0 px-0 pb-[0.5rem] rounded-[12px] overflow-hidden bg-[radial-gradient(200px_300px_ellipse_at_50%_34%_in_oklab,_oklch(75%_0.5_230)_0%,_4%,_oklch(26%_0.12_273)_125%_125%)] hover:shadow-xl transition'
        >
          <div class='pt-12 md:px-12 pb-[0.5rem]'>
            <div class='relative flex items-center justify-center aspect-[2/3] max-md:aspect-square rounded-[12px] mt-2 overflow-hidden'>
              {{
                block.settings.bilde
                | image_url: width: 1024
                | image_tag: class: 'w-[175px] md:w-[275px] h-auto'
              }}
            </div>
          </div>

          <div class='grid-cols-1 ml-2 grid gap-4 text-white w-full md:pt-2 pl-2'>
            <div>
              <p class='font-medium w-full gap-4 pt-2'>
                {{ block.settings.navn }}
              </p>
              <p class='opacity-80 w-full gap-4 mt-1 line-through'>
                {{ block.settings.forpris }}
              </p>
              <p class='opacity-80 mt-1 flex justify-between w-[95%] pb-4'>
                {{ block.settings.pris }}
                <button class='cursor-pointer py-2 px-12 md:py-[0.6rem] md:px-[2rem] rounded-lg bg-white text-[#0e065c] font-semibold hover:bg-gray-200 transition -mt-4'>
                  Kjøp
                </button>
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Catalog",
  "tag": "section",
  "class": "Catalog Section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Lenke til spesifikasjoner"
    },
    {
      "type": "image_picker",
      "id": "picture",
      "label": "Main Picture"
    },
    {
      "type": "image_picker",
      "id": "sketch_picture",
      "label": "Sketch Specs Picture"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Produktkort",
      "settings": [
        {
          "type": "image_picker",
          "id": "bilde",
          "label": "Produktbilde"
        },
        {
          "type": "text",
          "id": "navn",
          "label": "Produktnavn"
        },
        {
          "type": "text",
          "id": "forpris",
          "label": "Førpris"
        },
        {
          "type": "text",
          "id": "pris",
          "label": "Pris"
        },
        {
          "type": "product",
          "id": "lenke",
          "label": "Lenke til produkt"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Produktkort Seksjon",
      "category": "Custom"
    }
  ]
}
{% endschema %}
