<footer class='footer bg-white pt-10 md:pt-20 pb-4 px-0 text-xl'>
  <div class='width w-[90%] max-w-[1100px] mx-auto'>
    <div class='footer-top flex flex-col md:flex md:flex-row md:justify-evenly md:mx-8'>
      <a href='{{ routes.root_url }}' class='header__heading-link link link--text focus-inset'>
        <div
          class='header__heading-logo-wrapper bg-black rounded-full max-sm:mb-4 py-5 pr-4 pl-5 max-w-[50px] h-auto flex flex-row md:-mt-4 self-start'
        >
          <img
            src='{{ 'logo.svg' | asset_url }}'
            width='34'
            height='34'
            alt='{{ shop.name }}'
            class='header__heading-logo inline-flex site-logo--black'
            style='width: 34px; height: 34; display: inline-flex;'
          >
        </div>
      </a>

      {% for block in section.blocks %}
        {%- if block.type == 'navigation' -%}
          <div class='footer-column footer-column--nav'>
            <div class='block md:hidden'>
              <details class='group [&_summary::-webkit-details-marker]:hidden'>
                <summary class='flex justify-between items-center group-open:border-b-0 border-b border-b-gray-700/50 cursor-pointer py-4 text-xl font-base text-heading-gray'>
                  {{ block.settings.linklist.title }}
                  <span class='mr-12 w-5 h-5 transition-transform group-open:rotate-180'>
                    {{ 'icon-caret.svg' | inline_asset_content }}
                  </span>
                </summary>
                <ul class='pl-2 pb-4 border-b border-b-gray-700/50'>
                  {% for link in block.settings.linklist.links %}
                    <li class='mt-2'>
                      <a
                        href='{{ link.url }}'
                        class='hover:underline block'
                      >
                        {{ link.title }}
                      </a>
                      {% if link.links != blank %}
                        <ul class='ml-4 mt-2'>
                          {% for child_link in link.links %}
                            <li class='mt-2 hover:underline'>
                              <a href='{{ child_link.url }}' class='hover:underline'>
                                {{ child_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </details>
            </div>
            <div class='block max-sm:hidden'>
              <h2 class='text-xl font-base tracking-normal text-heading-gray'>
                {{ block.settings.linklist.title }}
              </h2>
              <ul>
                {% for link in block.settings.linklist.links %}
                  <li class='mt-4 hover:underline tracking-normal'>
                    <a href='{{ link.url }}' class='hover:underline'>{{ link.title }}</a>

                    {% if link.links != blank %}
                      <ul class='ml-4 mt-2'>
                        {% for child_link in link.links %}
                          <li class='mt-2'>
                            <a href='{{ child_link.url }}' class='hover:underline'>
                              {{ child_link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% elsif block.type == 'newsletter' %}
          <div class='footer-column foooter-column--news'>
            <h2 class='text-xl'>{{ block.settings.heading }}</h2>
            {{ block.settings.text }}
          </div>
          <form class='mt-8'>
            <input
              type='email'
              class='w-full block border border-slate-100 py-0 px-8'
              placeholder='Email-adress'
            >
            <button type='submbit'></button>
          </form>
        {% elsif block.type == 'text' %}
          <div class='footer-column footer-column--text tracking-normal text-xl/9 md:max-w-[150px]'>
            <!-- Mobil: Ekspanderbar -->
            <div class='block md:hidden w-full'>
              <details class='group [&_summary::-webkit-details-marker]:hidden'>
                <summary class='flex justify-between group-open:border-b-0 border-b border-b-gray-700/50 flex-row mx-auto items-center cursor-pointer py-4 text-xl font-base text-heading-gray relative'>
                  {{ block.settings.heading }}
                  <span class='block mr-12 w-5 h-5 transition-transform group-open:rotate-180'>
                    {{ 'icon-caret.svg' | inline_asset_content }}
                  </span>
                </summary>
                <div class='pl-2 pb-4 border-b border-b-gray-700/50 '>
                  {{ block.settings.text }}
                </div>
              </details>
            </div>

            <!-- Desktop: Alltid åpen -->
            <div class='block max-sm:hidden'>
              <h2 class='!text-heading-gray md:-mt-1 text-xl/10 tracking-normal font-base'>
                {{ block.settings.heading }}
              </h2>
              {{ block.settings.text }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class='footer-bottom pb-4 md:border-t mx-auto md:border-t-gray-700/30 md:mt-20'>
      <p class='footer-copyright tracking-normal pt-6 text-center'>
        {{ section.settings.copyright }}
      </p>

      <small
        class='mx-auto grid grid-cols-auto mb-2 md:grid-cols-5 justify-items-center pt-4 md:items-center md:mx-auto tracking-normal md:w-fit justify-center'
        id='footerPolicyTitles'
      >
        {%- for policy in shop.policies -%}
          <a href='{{ policy.url }}'>{{ policy.title | escape }}</a>
        {% endfor %}
      </small>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright text",
      "type": "text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "newsletter",
      "name": "newsletter",
      "settings": [
        {
          "id": "heading",
          "type": "richtext",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "navigation-column",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Navigation menu"
        }
      ]
    }
  ]
}
{% endschema %}
